.row
  .span4
    .icon-box-2
      .icon-box-content
        %h3
          %a{ href: 'single-service.html' } Custom Solutions
        %p We will banish your fustration of using software unfit for your needs with our high quality custom Mobile apps, Server and Desktop software.
        %a{ href: 'single-service.html' }
          %i.ifc-fast_forward
          Read more

  .span4
    .icon-box-2
      .icon-box-content
        %h3
          %a{ href: 'single-service.html' } Consultations
        %p Feel safe and confident with in your buisness IT decisions. Safety comes for beeing informed. We will infom you of any and all technical issues or possible advantages and provide all opstions of solutions.
        %a{ href: 'single-service.html' }
          %i.ifc-fast_forward
          Read more

  .span4
    .icon-box-2
      .icon-box-content
        %h3
          %a{ href: 'single-service.html' } Outsource
        %p Do not let your project fail! Let us be the extra fire power you need to tame that dealine and tunel thour the staks of issues.
        %a{ href: 'single-service.html' }
          %i.ifc-fast_forward
          Read more
