.row
  .span3
    .pricing-table
      .pricing-table-header
        %h3 MINI
        %h1 COFFEE
      .pricing-table-offer
        %ul
          %li 3-7 employees
          %li 2 consultants
          %li 1 d. observation period
          %li 1on1 intreviews
          %li 2-3 test per employee
          %li Total duartion 8-14d.
      %a.btn{ href: '#' } Contact us

  .span3
    .pricing-table
      .pricing-table-header
        %h3 MEDIUM
        %h1
          2750
          %sup $
      .pricing-table-offer
        %ul
          %li 8-14 employees
          %li 2-3 consultants
          %li 1-2 d. observation period
          %li 1on1 intreviews
          %li 3-5 tests per employee
          %li Total duartion 10-16d.
      %a.btn{ href: '#' } Contact us

  .span3
    .pricing-table
      .pricing-table-header
        %h3 LARGE
        %h1
          3900
          %sup $
      .pricing-table-offer
        %ul
          %li 15-25 employees
          %li 3 consultants
          %li 1-2 d. observation period
          %li 1on1 intreviews
          %li 3-5 tests per employee
          %li Total duartion 12-30d.
      %a.btn{ href: '#' } Contact us

  .span3
    .pricing-table
      .pricing-table-header
        %h3 CUSTOM
      .pricing-table-offer
        %ul
          %li <25 employees
          %li Up to 5 consultants
          %li Up to 5 days observation
          %li 1on1 interviews emploee from every category
          %li Up to 7 tests per emploee
      %a.btn{ href: '#' } Contact us
