.row
  #footer-bottom-widget-area-1.span12.text-center
    .widget.widget_text
      .textwidget
        All rights reserved &copy;
        = image_tag 'logo-footer.png', class: 'hidden-phone'
        2014
