#header
  .row
    .span3
      %a#logo{:href => url_for('/index.html') }
        = image_tag 'logo.png', class: 'responsive-img'
    .span9
      %a#mobile-menu-trigger{ href: '#' }
        %i.fa.fa-bars
      %ul#menu.sf-menu.fixed
        %li{ class: current_for('/index.html') }
          %a{ href: url_for('/index.html') }
            %span Home

        %li.dropdown{ class: current_for('/project', subpath: true) }
          %a
            %span Portfolio
          %ul
            - data.projects.each do |project|
              %li{ class: current_for("/project/#{project.url_name}.html") }
                = link_to project.name, "/project/#{project.url_name}.html"

        %li{ class: current_for('/services.html') }
          %a{ href: url_for('/services.html') }
            %span Services

        %li{ class: current_for('/contact.html') }
          %a{ href: url_for('/contact.html') }
            %span Contact
