%a.facebook-icon.social-icon{:href => data.contacts.facebook}
  %i.fa.fa-facebook
%a.twitter-icon.social-icon{:href => data.contacts.twitter}
  %i.fa.fa-twitter
%a.googleplus-icon.social-icon{:href => data.contacts.google_plus}
  %i.fa.fa-google-plus
