#page-header
  .row
    .span12
      %h2 Contact

.row
  .span12
    .headline{ style: 'margin-bottom:100px;' }
      %h1 Contact Us

= partial 'contact_form'

.google-map.map{ 'data-address' => 'Studentų g. 57, Kaunas', 'data-caption' => 'StartupSpace Unit 6', 'data-zoom' => '16', style: 'margin-bottom: -50px;' }
  %p This will be replaced with the Google Map.

- content_for :footer do
  = partial 'contacts'
