#page-header
  .row
    .span12
      %h2 Services

= partial 'activities'

.row
  .span12
    .headline
      %h1 Our specialities

.row
  .span4
    .icon-box-4
      %i.ifc-right
      .icon-box-content
        %h2 Loaction indors
        %p
          IPS or
          %em Indors Positioning Systems
          we have analyzed and prepared solutions using all signal types:
        %ul.full-circle
          %li Active RFID
          %li Passive RFID
          %li Bluetooth
          %li Wi-Fi

    .icon-box-4
      %i.ifc-right
      .icon-box-content
        %h2 Loaction outdoors
        %p Worked on multiple projects involving GPS using its various types (Satelate based, Assisted) using it in multiple purpuses: navigation, data filtering, emergency response.

  .span4
    .icon-box-4
      %i.ifc-right
      .icon-box-content
        %h2 Interaction with hardware devices
        %p We have a experience of directly controling hardware devices.

    .icon-box-4
      %i.ifc-right
      .icon-box-content
        %h2 Android OS
        %p We have expert understanding of Android OS from most complex innerworking to its raw core.

    .icon-box-4
      %i.ifc-right
      .icon-box-content
        %h2 Audio & video
        %p Streaming manipulatings, reformating or even producing a new format of audio or video.

  .span4
    .icon-box-4
      %i.ifc-right
      .icon-box-content
        %h2 Wearable devices
        %p We are curently developing a crosswearble device stndart so that more apps would work with multiple wearbale devices.

    .icon-box-4
      %i.ifc-right
      .icon-box-content
        %h2 Algorithms
        %p A complex logical problem is considered to be a candy for a task.

- content_for :footer do
  = partial 'contacts'
